html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;   
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    padding: 20px 20px;
    background: linear-gradient(to right,#7eabec 0%,#e0eefa 100%);
}
.container{
    background:white;
    max-width: 400px;
    width:100%;
    padding:25px 15px;
    border-radius:10px;
}
.container form .input-box{
    width: 100%;
    height: 35px;
    margin-top: 30px;
    position:relative;
}
.container .logo img{
    width: 300px;
    height: 95px;
}
.container .title {
    color: #002F5A;
}
.container form .input-box input{
    height:100%;
    width: 100%;
    outline: none;
    font-size:16px;
    border: none;
}
.container form .underline:before{
    position: absolute;
    content:'';
    height: 2px;
    width: 100%;
    background:#ccc;
    left:0;
    bottom:0;
}
.container form .underline:after{
    position :absolute;
    content:'';
    height:2px;
    width:100%;
    left:0;
    bottom:0;
    background:#258cfb;
    transform:scaleX(0);
    transform-origin:left;
    transition:all 0.3s ease;
}
.container form .input-box input:focus ~ .underline:after{
    transform:scaleX(1);
    transform-origin:left;
}
.container form .input-box input[type="submit"]{
    font-size:17px;
    font-weight:bold;
    color:white;
    background-color:#3FA5CB;
    border-radius:20px;
    width: 200px;
    
}
.container .text{
    padding:20px,20px;
}
.container .register-link{
    padding:20px;
}
.container form .register-row-name-surname {
    width: 100px;
    display:flex;
    gap: 10px;
    padding-left:10px;
}
.container-register {
    background: white;
    max-width: 500px;
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;    
}
.container form .register-row-name-surname input[type="text"] {
    width: 170px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-color: #3FA5CB;
    outline-color: #2157dd;
    
}
.container form .register-email-password input {
    width: 350px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 2px;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-color: #3FA5CB;
    outline-color: #2157dd;
    margin-left: 10px;
 
}
.container form .gender {
    margin:10px;
    margin-bottom:0px;
    color: #002F5A;
    padding-bottom:-10px;
}